# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

# Node.js-related files
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Nuxt build and cache files
.nuxt
.output
.cache
dist
build

# Environment and config files
.env
.env.* 
secrets.*.yaml
values.*.yaml

# IDE/editor-related files
.vscode
.idea
*.sublime-workspace

# Git-related files
.git
.gitignore

# Docker-related files
docker-compose*
compose.y*ml
Dockerfile*

# Miscellaneous system/project files
*.log
.DS_Store
Thumbs.db
LICENSE
README.md

